<div>
    <h1><a href="/">HTML Input Types</a></h1>

    <form>
    {% comment %} Author:<br>
    <input type="text" name="author"><br>
    Title:<br>
    <input type="text" name="title" size="100"><br>
    Text:<br>
    <textarea name="text" rows="10" cols="91">Test Textarea.</textarea> {% endcomment %}
    
  {% comment %} <input type="radio" name="gender" value="male" checked> Male<br>
  <input type="radio" name="gender" value="female"> Female<br>
  <input type="radio" name="gender" value="other"> Other<br><br>
  <input type="submit"> {% endcomment %}

  {% comment %} <input type="checkbox" name="vehicle1" value="Bike"> I have a bike<br>
  <input type="checkbox" name="vehicle2" value="Car"> I have a car {% endcomment %}

  {% comment %} Today (date and time):
  <input type="datetime-local" name="bdaytime"> {% endcomment %}

    E-mail:
  <input type="email" name="email">
</form> 

</div>